.container {
    composes: container from global;
    padding-bottom: 40px;
}

.content {
    padding: 40px 0 0 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.title {
    composes: title from global;
    font-size: 24px;
}



.list {
    composes: listReset from global;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    /*  */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    .content {
        flex-direction: row;
    }

    .title {
        font-size: 32px;

    }

}