.header {
    height: 50px;
    background-color: blue;
}

.logo {
    display: inline-grid;
    grid-template-areas:
        "img strong"
        "img span";
}

.logoImg {
    grid-area: img;

}

.logoStrong {
    grid-area: strong;
}

.logoSpan {
    grid-area: span;
}

/* .Header__img{

}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;

} */

/* .nav__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #5c5c5c;

}
.Headerlogo{
    width: 500px;;
} */