.container {
    composes: container from "../../style/repeat.css";
    padding: 40px;
}

.slider {
    background-color: #F4EFE9;
    border-radius: 20px;
}

.slider :global .swiper-button-prev.swiper-button-disabled,
:global .swiper-button-next.swiper-button-disabled {
    display: none;
}

.slider :global .swiper-button-prev,
:global .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;

    &::after {
        font-size: 16px;
        font-weight: 700;
        color: #c8c8c8;
    }

}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(24px, 3vw, 38px);
    color: var(--button-color);

}

.span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(20px, 5vw, 38px);
    color: var(--main-color);
}

.button {
    padding: 15px 35px;
    border-radius: 110px;
    border: none;
    background-color: var(--button-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
}


.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 15px 15px 50px;


}

.logo {
    width: 100px;
    height: 40px;
    margin-bottom: auto;


}

@media (min-width: 576px) {
    .slide {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .title {
        margin-left: 50px;

    }

    .button {
        margin-left: 50px;
    }

    .content {
        width: 100%;
        max-width: 280px;
        align-items: start;

    }

}