.container {
    composes: container from "../../style/repeat.css";
    padding: 40px;
}


.slider {
    height: 300px;
    background-color: #F4EFE9;
    border-radius: 20px;

}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.content {
    height: 100%;
}

.sliderLogo {
    align-self: start;
}