.container {
    composes: container from "../../style/repeat.css";
    padding: 40px;
}


.slider {
    background-color: #F4EFE9;
    border-radius: 20px;

}

.slider :global .swiper-button-prev.swiper-button-disabled,
:global .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 15px 0 50px;
}

.logo {
    width: 100px;
    height: 40px;
    ;
    margin-bottom: auto;
}