.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
}

.aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px;
    width: 385px;
    height: 100%;
    background: #fff;
    box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
    z-index: 102;
}


.title {
    composes: title from global;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    padding-bottom: 30px;
}

.cartWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 30px 20px;
}

.cartContent {
    max-width: 150px;
}

.img {
    width: 70px;
    height: 70px;
}

.cartItemTitle {
    composes: title from global;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.buttonClose {
    composes: buttonReset from global;
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity 0s ease-in-out;
  
}

.icon {
    width: 12px;
    height: 12px;
}

.buttonClose:hover {
    opacity: 1;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.itemsList {
    composes: listReset from global;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemsProps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dots {
    border: 1px dashed #dfdfdf;
    width: 165px;
    height: 1px;
    margin-top: 7px;
}

.dotsSec {
    border: 1px dashed #dfdfdf;
    width: 155px;
    height: 1px;
    margin-top: 7px;
}

.text {
    composes: text from global;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin: 0;
}

.price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.buttonConfirm {
    composes: buttonReset from global;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9dd458;
    padding: 18px 0 18px;
    border-radius: 18px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}

.arrowRight {
    position: absolute;
    left: 270px;
    top: 22px;
    width: 16px;
    height: 14px;
    transition: transform 0.3s ease;
}

.buttonConfirm:hover .arrowRight {
    transform: translateX(10px);
}

.loading {
    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        inset: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        border-bottom-color: #ff3d00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading .icon {
    display: none;
}