.button {
    composes: buttonReset from global;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9d9d9d;
    border-radius: 7px;
    width: 32px;
    height: 32px;
}


.icon {
    width: 12px;
    height: 12px;
}



.item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 220px;
    border: 1px solid #9d9d9d;
    border-radius: 40px;
    padding: 35px;
    transition: 0.3s transform, 0.3s box-shadow;
   
}

.favoriteButton {
    composes: button;
    position: absolute;
    left: 30px;
    top: 30px;
}

.favoriteButtonActive {
    background-color: #fef0f0;

}

.favoriteButtonActive .favorite {
    fill: #ff8585;
    color: #ff8585;


}


.favorite {
    composes: icon;
    fill: none;


}

.img {
    width: 133px;
    height: 112px;

}

.itemTitle {
    composes: title from global;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--main-color);
    margin-bottom: 14px;

}


.wrapper {
    display: inline-grid;
    align-items: center;
    justify-content: space-between;
    row-gap: 4px;
    grid-template-areas:
        "span   plus"
        "price   plus";
    margin-top: auto;
}

.span {
    grid-area: span;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #bdbdbd;
}

.price {
    grid-area: price;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.plusButton {
    composes: button;
    grid-area: plus;
    position: relative;
}

.plusButtonActive {
    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
}

.item:hover {
    transform: translateY(3px);
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.5);
}

.plus {
    composes: icon;
}

.loading {
    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        inset: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        border-bottom-color: #ff3d00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading .icon {
    display: none;
}