.button {
    composes:buttonReset from "../../style/reset.css";
    border: 1px solid #9d9d9d;
    border-radius: 7px;
    width: 32px;
    height: 32px;
}

.icon {
    width: 12px;
    height: 12px;
}


.container {
    composes: container from "../../style/repeat.css";
    padding-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.title {
    composes: title from "../../style/repeat.css";
}

.listWrapper {
    display: flex;
}

.list {
    composes: list from "../../style/reset.css";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));


}

.item {

    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 220px;
    border: 1px solid  #9d9d9d;
    border-radius: 40px;
    padding: 35px;

    /* justify-content: space-between; */
}

.favoriteButton {
    composes: button;
    position: absolute;
    left: 30px;
    top: 30px;
}

.favorite {
    composes: icon;


}

.img {
    width: 133px;
    height: 112px;

}

.itemTitle {
    composes: title from "../../style/repeat.css";
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--main-color);
    margin-top: 14px;
}


.wrapper {
    display: inline-grid;
    align-items: center;
    row-gap: 2px;
    grid-template-areas:
        "span   plus"
        "price   plus";
    margin-top: 14px;
}

.span {
    grid-area: span;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #bdbdbd;
}

.price {
    grid-area: price;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.plusButton {
    composes: button;
    grid-area: plus;
}

.plus {
    composes: icon;
  

}