* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;

}

body {
    font-family: var(--font-family);
    height: 100%;
    margin: 0;
    background-color: #e7f6FF;
}

#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;

}